$cyan-dark: hsl(185, 75%, 39%);
$blue-very-dark: hsl(229, 23%, 23%);
$blue-grey-dark: hsl(227, 10%, 46%);
$gray-dark: gray hsl(0, 0%, 59%);

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 353px;
    height: 375px;
}